fastapi==0.104.1
uvicorn==0.24.0
python-multipart==0.0.6
websockets==12.0
python-dotenv==1.0.0
openai>=1.0.0
faster-whisper
scispacy
spacy
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.4/en_ner_bc5cdr_md-0.5.4.tar.gz
rapidfuzz==3.6.1
groq>=0.9.0

# Database
sqlalchemy==2.0.23
alembic==1.13.1
psycopg2-binary==2.9.9

# Authentication
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
pydantic[email]>=2.0.0
